.event
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.event__left
{
    display: flex;
    position: absolute;
    left: 0;
}

.event__date
{
    display: flex;
}

.event__right
{
    display: flex;
    position: absolute;
    right: 0;
}

.event__name
{
    max-width: 70%;
    text-align: center;
}
